html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

.home {
  display: flex;
  align-items: center;
  padding: 100px 50px;
  justify-content: space-between;
  gap: 150px;
  background-color: transparent;
}

.home .skills {
  text-align: left;
}
.me-content:hover {
  transform: scale(1.1);
}
.home .me-content img {
  width: 100%;
  transform: scaleX(-1);
}
.home .me-content img {
  width: 100%;
  transform: scaleX(-1);
}

.home .home-content {
  margin-top: 20px;
}

.home .home-content h4 {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 12px;
}

.home .home-content p {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 300;
  color: black;
}

.me-content {
  box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.4);
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.3s;
}

.home .me-content img {
  width: 100%;
  transform: scaleX(-1);
}

.home h1 {
  font-size: 150px;
  color: maroon;
  font-family: cursive;
}

.home h2 {
  font-size: 100px;
  font-family: cursive;
}

@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column;
    background-color: #fafafa;
    padding: 40px 25px;
    margin-top: 30px;
    gap: 50px;
  }

  .home h1 {
    font-size: 40px;
    color: maroon;
    font-family: cursive;
  }

  .home h2 {
    font-size: 40px;
    font-family: cursive;
  }

  .home .me-content {
    width: 100%;
    margin-bottom: 25px;
  }

  .me-content:hover {
    transform: unset;
  }
}
